<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/main.css">
    <title>Grid</title>
</head>
<body>
    <div id="grid-container">
        <header>header</header>
        <nav>menu</nav>
        <section="hero"></section>
        <article class="art-1"></article>
        <article class="art-2"></article>
        <article class="art-3"></article>
        <article class="art-4"></article>
        <article class="art-5"></article>
        <figure>
            <img src="" alt="">
            <figcaption>bildtext 1</figcaption>
        </figure>
        <figure>
            <img src="" alt="">
            <figcaption>bildtext 2</figcaption>
        </figure>
        <figure>
            <img src="" alt="">
            <figcaption>bildtext 3</figcaption>
        </figure>
        <figure>
            <img src="" alt="">
            <figcaption>bildtext 4</figcaption>
        </figure>
        <figure>
            <img src="" alt="">
            <figcaption>bildtext 5</figcaption>
        </figure>
        <figure>
            <img src="" alt="">
            <figcaption>bildtext 6</figcaption>
        </figure>
        <figure>
            <img src="" alt="">
            <figcaption>bildtext 7</figcaption>
        </figure>
        <figure>
            <img src="" alt="">
            <figcaption>bildtext 8</figcaption>
        </figure>
        <section class="cta">
            <a href="#">Köp!</a>
        </section>
        <footer>
            footer
        </footer>
    </div>
</body>
</html>